:root {
  --button-color: #f50357;
  --branding-color: white;
  --secondary-color: black;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-color: #1d1d1d;
  color: var(--branding-color);
}
h1 {
  color: var(--branding-color);
  font-size: 96px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
  margin-bottom: 3rem !important;
}
p {
  color: var(--branding-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
a {
  color: var(--button-color);
}
.portfolio {
  padding: 160px 20px;
}

.btn-branding {
  background: var(--button-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.say-hi {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--branding-color);
}
.btn-branding-outline {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.about {
  padding: 160px 20px;
}
.about h1 {
  font-size: 64px;
  line-height: 80px;
}
.about h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.about-content {
  margin: 30px;
}
.contact-me {
  margin-top: 200px;
}

.name {
  color: var(--button-color);
}
.work-page {
  margin-top: 100px;
  margin-bottom: 300px;
}

.nav-link {
  color: var(--button-color) !important;
}
#about-photo {
  border-radius: 50%;
}
#header-work {
  font-size: 50px !important;
  color: var(--button-color);
}
#work-container {
  margin-top: 200px;
}
